@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@400;700&family=Montserrat:wght@400;600&display=swap');

:root{
    --primary-color : rgb(246,243,236);
    --secondary-color: rgb(0,0,0);
    --3-col: rgb(89,89,89);
    --4-col: rgb(202,198,189);
    --5-col: rgb(174, 134, 110);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Averia Serif' ,'Montserrat';
}

body{
    background-color: var(--primary-color);
    
}


.hero{

    margin: 330px 100px;

    

    h1{
        font-family: 'Averia Serif';
        font-size: 5rem;
        display: inline;
        
    }

    img{
        margin-left: 10%;
        width: 30%;
        margin-top: 20%;
        // display: flexbox;
    }

    .para{
        // outline: 5px solid black;
        font-family: 'Montserrat' ;
        width: 55%;
        margin-top: 15px;
        color: var(--3-col);
    }

    .ii{
        color: rgb(246,243,236);
        font-family: 'Montserrat ';
    }

    .btn{

        // text-align: right;

        button{
            margin-top: 40px;
            padding: 15px;
            width: 10rem;
            outline: none;
            border: none;
            color: var(--primary-color);
            font-family: 'Montserrat';
            font-weight: bold;
            background-color: var(--5-col);
            border-radius: 30px;
            margin-right: 10px;
    
            
        }
    }
    
    img{
        float: right;
        margin-top: -350px;
        border-radius: 30px
    }
    
    
}

button:hover{
    background-color: rgba(174, 134, 110,0.7);
    color: white;
    cursor: pointer;
}


footer{
    background: var(--secondary-color);
    color: var(--primary-color);
    height: auto;
    width: 100vw;
    font-family: 'Averia Serif';
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    padding: 5px;
    color: var(--4-col);

    .footer-bottom{
        text-align: center;
        font-size: 12px;
    }
}
